NEXT_PUBLIC_SITE_URL=https://storybykopi.com
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
FORMSPREE_ENDPOINT=
NEXT_PUBLIC_WHATSAPP_NUMBER=
NEXT_PUBLIC_PHONE_NUMBER=
NEXT_PUBLIC_EMAIL=hello@storybykopi.com
NEXT_PUBLIC_INSTAGRAM_USERNAME=storybykopi
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_GA_ID=
INSTAGRAM_ACCESS_TOKEN=
